<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trongdat.subject2review">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SubCanvas" />
        <activity android:name=".SubAnimation" />
        <activity android:name=".SubAudio" />
        <activity android:name=".SubVideo" />
        <activity android:name=".AppTest" />
        <activity android:name=".VideoPlayer" />
        <activity android:name=".SubTest1" />
        <activity android:name=".SubTest2" />
        <activity android:name=".SubTest3" />
        <activity android:name=".SubTest1View"></activity>
    </application>

</manifest>